name: 'test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
    - main
    - 'releases/*'

permissions:
    contents: write
    pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run plugin check (default)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/hello-dolly-copy'

      - name: Run plugin check (exclude checks)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/hello-dolly-copy'
          exclude-checks: |
            late_escaping
            plugin_readme
          include-experimental: true

      - name: Run plugin check (trunk)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/hello-dolly-copy'
          wp-version: 'trunk'

      - name: Run plugin check (plugin dependencies)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/plugin-with-dependencies'

      - name: Run plugin check (strict)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/plugin-with-dependencies'
          ignore-errors: true
          strict: true

      - name: Run plugin check (with comment)
        uses: ./
        continue-on-error: true # Since we expect it to always fail for the test plugin.
        with:
          build-dir: 'tests/fixtures/hello-dolly-copy'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
